body{
    background-color: rgb(0, 0, 0);
    color: #fff;
}
#header{
    height: auto;
    width: 100%;
    background:linear-gradient(to bottom,rgba(31, 6, 94, 0.475),#010207de), url(./images/back.jpg);
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
nav ul{
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #27f8ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    border-radius: 2px;
    transition: width 0.2s ease-in-out;

}
nav ul li a:hover::after{
    width: 100%;
    
}
nav ul li a:hover{
    text-shadow: 4px 5px 10px #000;
}
.headertext{
    display: flex;
    /* flex-wrap: wrap; */
    margin: 10%;

    background-color: rgba(250, 235, 215, 0);
    justify-content: space-between;
    border-radius: 20px;
    font-size: 40px;
}
.headerin{
    margin:10px;
}
.headertext h1{
    font-size: 1.5em;
    
}
.headertext span{
    color: #ffee00;
    transition: text-shadow 0.3s;
    animation: shine  2s infinite linear ;
}
#para{
    font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 2em;
}
.text-center{
    font-size: 3em;
}

.profle{
    
    height: 400px;
    
    width: 500px;
    border-radius: 50%;
    background:linear-gradient(rgba(13, 0, 0, 0),rgba(0, 0, 0, 0.985)),url(./images/photo.jpg);
    background-size:cover ;
    
    background-position-x: -60px;
    box-shadow: 10px 20px 50px #000;
}

    
img{
    animation: mmoo 2s infinite;
}
/* @keyframes mmoo {
    0%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
    
} */

/* -------------about------------- */
.title{
    display: flex;
    margin: 20px 0 40px;
}
.link-title{
    margin-right: 15px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    color: #ffee00;
    position: relative;

}
.link-title::after{
    content: "";
    width: 0;
    height: 4px;
    border-radius: 5px;
    background: #00c3ff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.link-title.active-link::after{
    width: 80%;
}
.contents ul li
{
    list-style-type: none;
    margin: 20px 10px;
    text-indent: -2px;
}
.contents ul li span{
    color: #0077ff;
    font-size: 17px;
    
}
.contents{
    background-color: #1a1b1c;
    border-radius: 10px;
    padding:8px ;
    display: none;
}
.contents.active-tab{
    display: block;
}
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 30px;
    margin-top: 50px;
}
.services-list div{
    background-color: rgba(34, 34, 34, 0.875);
    padding: 40px;
    border-right: 10px solid #666;
    border-radius: 3px;
    transition:background-color 0.3s,transform 0.3s;
}
.services-list div i{
    font-size: 50px;
    color: #00c3ff;
   
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin: 15px 10px 10px 0px;
}
.services-list div:hover{
    background-color:#003b8364;
    transform: translateY(-10px);
}
.portfolio{
    padding: 50px 0;

}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 30px;
    /* margin-top: 50px; */
    margin: 50px 10px;
    
}
.work{
    
    width: 100%;
    border-radius: 2%;
    overflow: hidden;
    position: relative;
}
.work img{
    width:100%;
    transform: scale(1.1);
    height: 100%;
    border-radius: 2%;
    display: block;
   transition: transform 0.5s;
}
.layer{
    width: 100%;
    background: linear-gradient(#000000ea,#004562fb);
    border-radius: 2%;
    height:0;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    padding: 0px ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* visibility: hidden; */
    transition: height 0.6s;
}
.layer h3{
    font-weight:600;
    margin-bottom: 20px;
}
.work:hover img {
    transform: scale(1.2);
    

}
.work:hover .layer{
   height: 103%;
   visibility: visible;
}
 #contact{
    width: 100vw;
 }
.contact-left{
    flex-basis: 35%;
    
}
.contact-right{
    flex-basis: 65%;

}
.contact-left p{
    margin-top: 20px;
}
.contact-left p i{
    color: #55ffee;
    font-size: 20px;
    margin-right: 10px;
}
.social-icon {
    margin-top: 30px;
}
.social-icon a{
    text-decoration: none;
    font-size: 30px;
    margin: 10px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.2s;
}
.social-icon a:hover{
    transform: translateY(-5px);
    color: #0077ff;
}
.btn{
    background-color: #0077ff;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
}
.btn:hover{
    background-color: #00346e;
}
.contact-right{
    width: 100%;

}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    padding: 8px;
    background-color: #262626;
    margin: 5px;
    border-radius: 5px;
    font-size: 18px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #212129;
}
.copyright i{
    font-size: 38px;
    margin: 10px;
    color: rgb(255, 34, 34);
}
nav .fa-regular,nav .fa-solid{
    display: none;
}
@media only screen and (max-width:600px){
    .headertext{
        display: flex;
        flex-direction: column;
       align-items: center;    
    }
    .profle{
        border-radius: 50%;
        width: 300px;
        height: 300px;

    }
    .headertext{
        margin-top: 30%;
        font-size: 16px;
    }
    .headertext h1{
        font-size: 30px;
    }
    #services{
        margin: 10px 20px;
    }
    nav .fa-regular,nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #002a85;
        position: fixed;
        top: 0;
        right: -170px;
        width: 170px;
        height: 100vh;
        padding-top: 50px;
        transition: right 0.4s;
        z-index: 2;

    }
    nav ul li{
        display: block;
        margin: 25px;

    }
    nav ul .fa-regular{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .social-icon a{
        font-size: 20px;
    }
    #contact{
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
        
        
    }
    .contact-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    form input,form textarea{
        width: 100%;
    }
    .btn{
        margin-left: auto;
    }

}

body{
    width: 100vw;
}

